<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Clean Air</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style/ycd.css') }}"
    >
</head>
<body style="background-color:hsl(106, 85%, 80%) ; text-align:justify ;">


<img src="https://cff2.earth.com/uploads/2016/11/03135030/clean-air-pollution_1big_stokc.jpg" height="600" width="1600" alt="">
 <p><h2>An action plan for clean air and better health</h2></p> 
 <p>Air pollution is a massive threat to health and wellbeing across the WHO South-East Asia Region. We can change that.

    Cancer. Stroke. Heart Disease. Asthma.
    
    These are some of the life-threatening diseases caused by air pollution, a problem that kills more than six million people worldwide every year and which is the most pressing environmental health risk humanity faces. In 98% of cities in low- and middle-income countries air quality exceeds WHO safe-levels and is having a severe impact on health. The youngest, oldest and poorest among us are most affected.
    
    For urban residents across the South-East Asia Region the situation is dire. As urbanization proceeds, inadequate planning is compounding an already fraught scenario. Every day, more and more people are exposed to the deadly particulates motor vehicles, diesel generators, smokestacks and power plants pump out. And every day, those particulates are having a devastating impact on our immediate and long-term health.
    
    Despite the magnitude of the problem, change is possible. Each one of us can do our part.
    
    Choosing to take public transport over driving a private vehicle is a good way to make an immediate difference that not only decreases emissions, but also saves money and encourages physical activity. Similarly, if and when we do use a private vehicle we can ensure that its engine is well-tuned and running efficiently, thereby decreasing emissions and maximizing fuel mileage. Though these steps are simple, they can have wide-ranging impact: Private vehicle use remains a significant contributor to urban air pollution across the Region.
    
    In and around the home we can also make small but important changes. Instead of burning wood and other biomass fuels for cooking or heating, for example, we can switch to using natural gas or liquefied petroleum gas (LPG). The household use of wood and other biomass fuels (including kerosene) is the cause of approximately 1.69 million deaths can also make concerted efforts to cut down on and better dispose of waste, including by ending open burning.
    
    In aiding private citizens’ actions, government interventions can be of crucial importance.
    
    It is now being seen across the Region that from the municipal level up, governments are aiming to provide the infrastructure needed to provide healthier environments and taking steps to encourage public forms of transport. This is being done by building quality bus and rail systems, and by making cities pedestrian- and bicycle-friendly through the provision of footpaths and bicycle lanes. Schemes are being implemented to provide incentives for households to switch to cleaner energy sources that are benefiting the poor and vulnerable. Biomass continues to be burned largely as a result of cost incentives and there is realization now that demand can be shifted to other forms of household energy through subsidies and other innovative pricing mechanisms.
    
    Empowering and engaging the health sector is also important. Not only can the health sector identify and assist vulnerable groups to prevent exposure to air pollution, thereby mitigating its effects, but it can also provide critical support to the society-wide struggle for clean air. Health institutions and workers have the power to raise awareness and promote change at the personal and policy levels – a role that should be encouraged and where possible supported.
    
    As part of this wider push, cities across the Region are urged to join the Breathe Life 2030 campaign, a WHO-lead effort to mobilize individuals and the cities they live in to take action against air pollution. More than 30 cities have already joined, and are working from the grassroots up to achieve cleaner air, improved health and a greener environment. All cities and towns in the South-East Asia Region could also benefit from / or the opportunity to do likewise.
    
    That opportunity should be welcomed. Though air pollution represents a massive moral and practical challenge, it also represents a chance to chart a bold new path – one where clean air is an integral part of healthy economic development and growth. Indeed, as countries across the South-East Asia Region develop and prosper, they needn’t repeat the development tropes of a bygone era. They can and must write a different history.
    
    </p>      



    <!-- footer strt -->
    <div class="footer">
        <div class="wrapper">
            <div class="footer_nav">
                <ul>
                    <li>Home</li></a></li>
                    <li>|</li>
                    <li>About Us</li>
                    <li>|</li>
                    <li>Solutions</li>

                    
                    <li>|</li>
                    <li>Contract Us</li>
               
                 <p>Copyright@2022.pythonic_lava,Inc.All Rights Reserved</p>
                </ul>
            </div>
            
        </div>
    </div>
    <!-- footer end -->

</body>
</html>
