{% extends "base.html" %}
{% block content %}

  <div>
      <article class="media content-section">
        <div class="media-body">
          <div class="vote">
            <div class="up">
              <a href="{{ url_for('posts.up_vote',post_id=post.id)}}">
              👆{{post.up}}
              </a>
            </div>
            <div class="down">
              <a href="{{ url_for('posts.down_vote',post_id=post.id)}}">
              👇{{post.down}}
              </a>
            </div>
          </div>
          <div class="article-metadata">
            <a class="mr-2" href="#">{{post.author.name}}</a>
            <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
          </div>
          <h2>
            <a class="article-title" href="{{ url_for('posts.post',post_id=post.id) }}">{{post.title}}</a>
          </h2>
          <p class="article-content">{{post.content}}</p>
        <img
          class="article-img"
          src="{{ url_for('static', filename='media/' + post.image) }}"
          alt="Post Image"
        >
        </div>
      </article>
  </div>
  <!-- comment areas -->
  <div>
    <form
      class="input-group"
      method="POST"
      action="/create_comment/{{post.id}}"
    >
      <input
        type="text"
        id="text"
        name="text"
        class="form-control"
        placeholder="Comment"/>
      <button 
        type="submit"
        clas="btn btn-primary">
        Submit
      </button>
    </form>
  </div>

  <!-- showing comments -->
  <div>
      {% for comment in post.comments %}
          <p class="font-monospace border border-1 text-truncate" >{{comment.content}}</p> 
          <p>{{comment.author.name}}</p>
      {% endfor %}
  </div>
{% endblock content %}
